doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/js/jquery-2.0.3.min.js')
  script(src='/js/d3.v3.min.js')
  script(src='/js/timeline.js')